.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.searched-results {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.searched-film {
  height: 350px;
  width: 260px;
  background-color: grey;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aqua;
  font-weight: 800;
  text-shadow: black;
}
.image {
  height: 260px;
  width: 185px;
}
.fav-result {
  background-color: deeppink;
  color: deepskyblue;
}

.favorite-column {
  display: flex;
  flex-direction: column;
}
.favorite-div {
  height: 80px;
  width: 260px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  align-items: center;
}
.fav-image {
  height: 65px;
  width: 40px;
  margin-left: 3px;
  background-size: cover;
}
.fav-title {
  color: deeppink;
  margin-right: 3px;
}
